dashboard/node_modules/
dashboard/.next/
*.csv
*.pkl
*.joblib
model/
model.tar.gz
pipeline_finetuned.joblib
shap_explainer.joblib
finalized_fraud_model.tar.gz
__pycache__/
.ipynb_checkpoints/
.env
.env.local
